---
#
# Keep different stages in seperate yaml files to
# make sure the files stay readable
#
- name: CS Run install tasks
  ansible.builtin.include_tasks:
    file: install.yml

- name: CS Run update tasks
  ansible.builtin.include_tasks:
    file: update.yml
  when: cs_agent or cs_lapi

- name: CS Run plugin tasks
  ansible.builtin.include_tasks:
    file: plugins.yml
  when: cs_agent

- name: CS Create configuration files
  ansible.builtin.include_tasks:
    file: config.yml
  when: cs_agent or cs_lapi

- name: CS Install and Configure PostgreSQL
  ansible.builtin.include_tasks:
    file: postgres.yml
  when:
    - cs_db_install_postgres is defined and cs_db_install_postgres is true
    - cs_lapi

# Everything should be ready now, so just to be sure we
# will flush all pending handlers

- name: CS Flush handlers
  ansible.builtin.meta: flush_handlers

- name: CS LAPI Specifics
  ansible.builtin.include_tasks:
    file: lapi.yml
  when: cs_lapi

- name: CS Agent Specifics
  ansible.builtin.include_tasks:
    file: agent.yml
  when: cs_agent

- name: CS Enable Features
  ansible.builtin.include_tasks:
    file: feature.yml
  when: cs_features is defined and cs_features | length >0

- name: CS Firewall Bouncer
  ansible.builtin.include_tasks:
    file: firewall_bouncer.yml
  when: cs_firewall_bouncer is defined and cs_firewall_bouncer | length > 0

- name: CS Haproxy Bouncer
  ansible.builtin.include_tasks:
    file: haproxy_bouncer.yml
  when: cs_haproxy_bouncer is defined and cs_haproxy_bouncer | length > 0
