#
# {{ ansible_managed }}
#
{% for item in cs_profiles %}
name: {{ item.name }}
debug: {{ item.debug | default("false") }}
filters:
{% for filter in item.filters %}
 - {{ filter }}
{% endfor %}
decisions:
{% for decision in item.decisions %}
 - type: {{ decision.type | default('ban') }}
   duration: {{ decision.duration | default('4h') }}
{% endfor %}
on_success: {{ item.success }}
---
{% endfor %}
